@font-face {
	font-family: 'SharpGroteskBook';
	src: url('/fonts/5cff871b4c90e2a55edcc1d4_SharpGroteskBook25.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Abuget';
	src: url('/fonts/5cff87322044e29082cf35a5_Abuget.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'WebFontA';
	src: url('/fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'WebFontB';
	src: url('/fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DownloadFont';
	src: url('/fonts/download') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DownloadFontAlt';
	src: url('/fonts/download (1)') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}