// Font Families
$font-sharp: 'SharpGroteskBook', sans-serif;
$font-abuget: 'Abuget', cursive;
$font-web-a: 'WebFontA', sans-serif;
$font-web-b: 'WebFontB', sans-serif;
$font-download: 'DownloadFont', sans-serif;
$font-download-alt: 'DownloadFontAlt', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$light-loader: #333;
$dark-loader: #000;
$white: #fff;
$black: #000;


// Base Font Stacks
$ff-base: $font-sharp;
$ff-heading: $font-web-b;
$ff-accent: $font-abuget;


$color-black: #000;
$color-white: #fff;
$color-red: #ff0000;