// Font Families
$font-sharp: 'SharpGroteskBook', sans-serif;
$font-abuget: 'Abuget', cursive;
$font-web-a: 'WebFontA', sans-serif;
$font-web-b: 'WebFontB', sans-serif;
$font-download: 'DownloadFont', sans-serif;
$font-download-alt: 'DownloadFontAlt', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$light-loader: #333;
$dark-loader: #000;
$white: #fff;
$black: #000;

$ff-base: $font-sharp;
$ff-heading: $font-web-b;
$ff-accent: $font-abuget;


$color-black: #000;
$color-white: #fff;
$color-red: #ff0000;

$color-white-trans-1: rgba(255, 255, 255, 0.1);
$color-white-trans-5: rgba(255, 255, 255, 0.5);
$color-white-trans-8: rgba(255, 255, 255, 0.8);
$color-black-trans-4: rgba(0, 0, 0, 0.4);
$color-black-trans-5-alt: rgba(0, 0, 0, 0.5);
$color-black-trans-7: rgba(0, 0, 0, 0.7);
$color-black-trans-8: rgba(0, 0, 0, 0.8);