@import '../abstract/variables';

.header {
    z-index: 999;
    height: 15%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;

    & .nav-bar {
        display: flex;
        height: 50%;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        & .nav-box {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .nav-item {
                height: 100%;
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-family: $font-sharp;
                font-size: 14px;
                color: $color-white;
                text-decoration: none;
            }

            & .nav-circle {
                height: 10px;
                width: 10px;
                background-color: $color-white;
                border-radius: 50%;
            }
        }
    }

}