@import '../abstract/variables';

.header {
    z-index: 999;
    height: 15%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;

    & .nav-bar {
        display: flex;
        height: 50%;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        position: relative; 

        & .nav-box {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .nav-item {
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-family: $font-sharp;
                font-size: 14px;
                color: $color-white;
                text-decoration: none;
                margin-bottom: 5px; 
            }
        }

      

        & .nav-indicator {
            position: absolute;
            bottom: -6px; 
            left: 12.5%;
            transform: translateX(-50%);
            height: 7px;
            width: 7px;
            background-color: $color-white;
            border-radius: 50%;
            z-index: 10;
        }
    }

}