.credits {
    background-color: $color-black;
    width: 100%;
    min-height: 100vh;
    color: $color-white;
    overflow: hidden;

    &__top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        &>div {
            position: relative;
            height: 50vh;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2.5rem;
            overflow: hidden;
            background-color: transparent;
            width: 25%;

            &:nth-child(1),
            &:nth-child(2) {
                width: 25%;
            }

            &:nth-child(3) {
                width: 50%;
            }

            &:nth-child(3),
            &:nth-child(7) {
                border-right: none;
            }

            .card__text {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: $font-sharp;
                font-size: 2.5rem;
                font-weight: 700;
                color: $color-white;
                z-index: 10;
                pointer-events: none;
            }

            .card__img {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(0.3);
                }
            }

            &.credits__top__card--3 {
                .card__img img {
                    object-fit: contain;
                    object-position: top center;
                    width: 100%;
                    height: 100%;
                }
            }

            &.credits__top__card--6 {
                .card__img {
                    height: 55%;
                    width: 80%;
                    top: 40%;
                    left: 10%;
                    transform: translateY(-50%);
                }
            }

            &.credits__top__card--4,
            &.credits__top__card--5,
            &.credits__top__card--7 {
                .card__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: auto;
                        height: 40%;
                        max-width: 70%;
                        object-fit: contain;
                        filter: brightness(0.8);
                    }
                }
            }


            .card__bottom {
                position: relative;
                z-index: 5;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                text-align: left;
                width: 100%;

                &_up {
                    font-family: $font-sharp;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $color-white;
                    letter-spacing: -0.5px;
                    line-height: 1.1;
                }

                &_down {
                    font-family: $font-montserrat;
                    font-size: 0.85rem;
                    color: $color-white;
                    letter-spacing: 0.2px;
                    font-weight: 500;
                }
            }
        }
    }

    &__bottom {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $color-black;
        padding: 5rem 0;

        .skull {
            width: 20%;
            max-width: 900px;
            height: auto;
            object-fit: contain;
            filter: brightness(0.3);
            z-index: 1;
        }

        .skull-front {
            position: absolute;
            bottom: -30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 70%;
            object-fit: cover;
            z-index: 2;
            pointer-events: none;
            opacity: 0.8;
        }
    }
}