.hero {
    width: 100%;

    &-box {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        & .hero-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;

            &--back {
                z-index: 0;
            }

            &--front {
                z-index: 1;
            }
        }

        & .hero-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__up {
                font-family: $font-sharp;
                font-size: 14px;
                color: $color-white;
                text-decoration: none;
            }

            &__down {
                object-fit: cover;
                height: 20vh;
                width: 35vw;

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        & .hero-cursor {
            position: absolute;
            bottom: 5%;
            left: 50%;
            z-index: 2;
            height: 10%;

            &__img {
                width: 100%;
                height: 100%;
            }
        }



        & .hero-plot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            width: 40%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            opacity: 0; // Hidden by default for GSAP
            pointer-events: none;

            &__title {
                font-family: $font-sharp;
                font-size: 35px;
                font-weight: 400;
                color: $color-white;
            }

            &__text {
                font-family: $font-montserrat;
                font-size: 20px;
                line-height: 2.6;
                color: $color-white;
                font-weight: 300;
            }
        }

    }
}