@import '../abstract/variables';
@import '../abstract/mixins';

.share {
    width: 100%;
    height: 100vh;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $color-white;
    overflow: hidden;

    &__line {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 0;
        background-color: $color-white-trans-5;
        z-index: 5;
    }

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    &__text {
        font-family: $font-montserrat;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        opacity: 0.8;

        @include respond(phone) {
            font-size: 0.7rem;
        }
    }

    &__url {
        font-family: $font-sharp;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1;
        cursor: pointer;

        @include respond(phone) {
            font-size: 1.4rem;
        }
    }

    &__back-to-top {
        font-family: $font-sharp;
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: none;
        color: $color-white;
        text-transform: capitalize;
        padding-bottom: 5px;
        margin-top: 1rem;
        transition: border-bottom 0.3s ease;

        @include respond(phone) {
            font-size: 0.8rem;
        }
    }

    &__footer {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;

        p {
            font-family: $font-montserrat;
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 1px;
            opacity: 0.6;

            @include respond(phone) {
                font-size: 0.6rem;
            }
        }
    }
}