.share {
    width: 100%;
    height: 100vh;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $color-white;

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    &__text {
        font-family: $font-montserrat;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        opacity: 0.8;
    }

    &__url {
        font-family: $font-sharp;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1;
        cursor: pointer;

    }

    &__back-to-top {
        font-family: $font-sharp;
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: none;
        color: $color-white;
        text-transform: capitalize;
        padding-bottom: 5px;
        margin-top: 1rem;
        transition: border-bottom 0.3s ease;

        
    }

    &__footer {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;

        p {
            font-family: $font-montserrat;
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 1px;
            opacity: 0.6;
        }
    }
}